/*CSS for Gallery*/
.gallery-title {
   padding-top: 2rem;
   margin-bottom: 0rem;
   margin-right: 5rem;
   margin-left: 2rem;
 }
 
 .gallery-jumbotron {
   margin: 8rem;
 }
 .gallery-title {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
