.footer {
    background-color: #FFD55E;
}

/*NavBar CSS*/

.pill-nav a {
  display: inline-block;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.pill-nav a:hover {
  background-color:#FFD55E;
  color: black;
  transition: 0.5s;
}

.pill-nav a.active {
  border-color: #FFD55E;
  background-color: #FFD55E;
  color: black;
}

/*CSS for Body*/

body {
  background-color: #C1C5D2;
}

/* CSS for Sticky Notes*/

.quote-container {
  position: relative;
}

.note {
  color: #333;
  position: relative;
  width: 400px;
  height: 400px;
  margin: 2rem;
  padding: 20px;
  font-family: Satisfy;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note-1 {
  color: #333;
  position: relative;
  width: 600px;
  height: 560px;
  margin: 2rem;
  padding: 20px;
  font-family: Satisfy;
  font-size: 25px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note-2 {
  color: #333;
  position: relative;
  width: 450px;
  height: 450px;
  margin: 2rem;
  padding: 20px;
  font-family: Satisfy;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}

/*Variations of Sticky Notes*/

.yellow-1 {
  background: #FFD55E;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  margin: 3rem;
}

.yellow-2 {
  background: #FFD55E;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(-3deg);
  margin: 3rem;
}

.yellow-3 {
  background: #FFD55E;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(0deg);
  margin: 3rem;
}

/*end Variation*/

/*CSS for Pins*/

.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 40%;
  top: -16px;
  z-index: 1;
  margin: 3rem;
}

.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';
  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;

transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);
 
  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

/*end CSS for Pins*/
/*Sticky Note Button CSS*/
.sticky-btn {
  margin-bottom: 40px;
}
/*end CSS for Sticky Notes*/

/*CSS for Profile Cards*/

.profile-card-5{
  margin-top:40px;
  margin-bottom: 20px;
  width: 35rem;
}

.profile-card-5 .card-img-block {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: -20px;
  
}
.profile-card-5 .card-img-block img{
  border-radius:5px;
  box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
  color:black;
  font-weight:600;
}

/*end CSS for Profile Cards*/

.contact-btn {
  background-color: #FFD55E;
}

/*CSS for Gallery*/
.gallery-row {
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.administrative-jumbotron {
  background-color:#FFD55E;
  padding: 1.5rem;
  border-radius: 25px;
}

.council-jumbotron {
  margin-top: 1rem;
  background-color:#FFD55E;
  padding: 1.5rem;
  border-radius: 25px;
}

.gallery-jumbotron {
  margin-top: 10rem;
  background-color:#FFD55E;
  padding: 1.5rem;
  border-radius: 25px;
}

.gallery-parallax {
  background-image: url("");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Index Profile Card*/
.box{
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 0 auto;
  padding: 30px;
}
.profile {
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.profile:before,
.profile:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.profile:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.profile:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.profile .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}
.profile:hover .imgBx
{
  bottom: 80px;
}
.profile .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}
.profile .details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 20px;
 color: #777;
 text-transform: uppercase;
} 
.profile .details h2 span{
font-weight: 500;
font-size: 16px;
color: #f38695;
display: block;
margin-top: 5px;
}
.profile-button {
  text-decoration: none;
  color: black;
}

/*CSS for Parallaxes*/

.index-parallax-2 {
  background-image: url("img/IMG_9282.JPG");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-logo {
  margin-left: 11rem;
}

.index-parallax-1 {
  background-image: url("img/IMG_94082.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Announcement Board*/

.card-announcement {
  margin: 1rem;
}
.wrapper {
  padding: 30px;
}
.announcements-box {
  border: 25px solid grey;
  width: 100%;
  background: #e8ca95;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(176, 176, 176, 1);
  -moz-box-shadow: 10px 10px 5px -4px rgba(176, 176, 176, 1);
  box-shadow: 10px 10px 5px -4px rgba(176, 176, 176, 1); 
}
.an-wrap {
  background: #FFD55E;
  padding: 18px;
  color: black;
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}
.em-wrap {
  padding: 18px;
  background: black;
  color: #FFD55E;
  font-size: 12px;
  -o-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
}
.em-wrap-1 {
  width: 95%;
  padding: 18px;
  background: black;
  color: #FFD55E;
  font-size: 12px;
  margin-top: 0.7rem;
  margin-bottom: 1.5rem;
  margin-left: 0.9rem;
}
.memo-wrap {
  padding: 18px;
  background: black;
  color:#FFD55E;
  font-size: 12px;
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
}
.title-an {
  padding-bottom: 1px;
}
.date-an {
  font-size: 11px;
  padding-bottom: 5px;
}
.cont-an {
  font-size: 12px;
}
.news-wrap {
  font-size: 12px;
  background: #FFD55E;
  padding: 23px;
}
.news-wrap-1 {
  font-size: 12px;
  background: #FFD55E;
  padding: 23px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.new-img {
  width: 84px;
  float: left;
  height: auto;
  margin-right: 11px;
}
.news-title {
  font-size: 18px;
  padding-bottom: 7px;
}
.news-sub-title {
  font-size: 11px;
  font-style: italic;
}
.news-sub-title-1 {
  font-size: 14px;
}
.marker-icon {
  width: 16px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 26px;
}
.title-em {
  font-size: 18px;
}
.title-em-1 {
  font-size: 20px;
}
.cont-em{
  font-size: 14px;
}
.from-em {
  margin-top: 3px;
}
.date-em {
  margin-bottom: 3px;
}
.an-img {
  width: 100%;
  margin-right: 4px;
  height: auto;
}
.an-wrap:hover,
.news-wrap:hover,
.memo-wrap:hover,
.em-wrap:hover,
.em-wrap-1:hover {
  -webkit-box-shadow: 10px 10px 5px -4px #777;
  -moz-box-shadow: 10px 10px 5px -4px #777;
  box-shadow: 10px 10px 5px -4px #777;

  cursor: pointer;

  transform: scale(1.1);
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
}
.an-wrap:before {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fcf5e7 #e8ca95 #ffffff #e8ca95;
  background: #e8ca95;
  display: block;
  width: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
}

/*Ticket Page CSS*/

.ticket-jumbotron {
  margin-top: 1rem;
  background-color:#FFD55E;
  padding: 1.5rem;
  border-radius: 25px;
}
.card-ticket {
  margin: 2rem;
}
.ticket-card-body {
  background-color:#FFD55E;
  padding: 15px;
  border-radius: 25px;
  font-size: 18px;
  box-shadow: #777 10px 10px 5px;
}
.ticket-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 15rem;
}
.card-title {
  padding: 10px;
}

#pi1 {
  margin-top: 13rem;
  margin-left: 26rem;
}

/*Testing*/
h2 {
	transform: rotate(-1deg);
	margin-bottom: 30px;
  margin-top: 30px;
}

h2 .lead {
	padding: 10px 3em;
	color: black;
	background-color: #FFD55E;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
	box-shadow: 0px 1px 6px -1px rgba(0,0,0,0.5);
}

.hoverable:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 5px -4px #777;
}

/*Media CSS*/

@media only screen and (max-width: 780px) {
  .box {
    width: 100%;
  }
  .profile {
    position: relative;
    margin-left: -20px;
    margin-bottom: 50px;
    margin-top: 40px;
    width: 250px;
    height: 350px;
  }
  .ticket-btn {
    margin-left: 5rem;
  }
  .index-parallax-1 {
    width: 768px;
  }
  .index-parallax-2 {
    width: 768px;
  }
  #m1 {
    width: 200px;
  }
  #m2-btn {
    margin-left: 4.2rem;
  }
  #s1 {
    width: 275px;
    font-size: 27px;
  }
  #pi1 {
    margin-top: 8rem;
    margin-left: 3rem;
    width: 680px;
  }
}

@media only screen and (max-width: 380px) {
  .box {
    width: 100%;
  }
  .profile {
    position: relative;
    margin-left: -20px;
    margin-bottom: 50px;
    width: 250px;
    height: 350px;
  }
  .ticket-btn {
    margin-left: 3.5rem;
  }
  .index-parallax-1 {
    width: 375px;
  }
  .index-parallax-2 {
    width: 375px;
  }
  #m1 {
    margin-left: 1.5rem;
    width: 200px;
  }
  #m2-btn {
    margin-left: 3rem;
  }
  #m2 {
    margin-left: 1.7rem;
    width: 300px;
  }
  #s1 {
    width: 275px;
  }
  #pi1 {
    margin-top: 13rem;
    margin-left: 5rem;
    width: 240px;
  }
}