.footer {
    background-color: #FFD55E;
}

.card-announcement {
    margin: 1rem;
}

.pill-nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.pill-nav a:hover {
  background-color:#FFD55E;
  color: white;
}

.pill-nav a.active {
  background-color: #FFD55E;
  color: white;
}

/*CSS for Body*/

body {
  background-color: #C1C5D2;
}